default_stages: [pre-commit]

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
      - id: composite-check
        name: composite check script
        entry: uv run python scripts/check.py --skip-lint-format-typecheck
        language: system
        pass_filenames: false
